<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peaq.ec3.shopp.mapper.AddressManageMapper">
  <resultMap id="BaseResultMap" type="com.peaq.ec3.shopp.model.AddressManage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="def_flag" jdbcType="TINYINT" property="defFlag" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="recipient" jdbcType="VARCHAR" property="recipient" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="province_area_code" jdbcType="VARCHAR" property="provinceAreaCode" />
    <result column="city_area_code" jdbcType="VARCHAR" property="cityAreaCode" />
    <result column="district_area_code" jdbcType="VARCHAR" property="districtAreaCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, def_flag, user_id, recipient, mobile, province, city, district, address, create_operator, 
    create_time, update_operator, update_time, province_area_code, city_area_code, district_area_code
  </sql>
  <select id="selectByExample" parameterType="com.peaq.ec3.shopp.model.AddressManageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address_manage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from address_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.peaq.ec3.shopp.model.AddressManageExample">
    delete from address_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.peaq.ec3.shopp.model.AddressManage">
    insert into address_manage (id, def_flag, user_id, 
      recipient, mobile, province, 
      city, district, address, 
      create_operator, create_time, update_operator, 
      update_time, province_area_code, city_area_code, 
      district_area_code)
    values (#{id,jdbcType=BIGINT}, #{defFlag,jdbcType=TINYINT}, #{userId,jdbcType=VARCHAR}, 
      #{recipient,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{createOperator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{provinceAreaCode,jdbcType=VARCHAR}, #{cityAreaCode,jdbcType=VARCHAR}, 
      #{districtAreaCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peaq.ec3.shopp.model.AddressManage">
    insert into address_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="defFlag != null">
        def_flag,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="recipient != null">
        recipient,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="provinceAreaCode != null">
        province_area_code,
      </if>
      <if test="cityAreaCode != null">
        city_area_code,
      </if>
      <if test="districtAreaCode != null">
        district_area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="defFlag != null">
        #{defFlag,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null">
        #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceAreaCode != null">
        #{provinceAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="cityAreaCode != null">
        #{cityAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="districtAreaCode != null">
        #{districtAreaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.peaq.ec3.shopp.model.AddressManageExample" resultType="java.lang.Long">
    select count(*) from address_manage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update address_manage
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.defFlag != null">
        def_flag = #{row.defFlag,jdbcType=TINYINT},
      </if>
      <if test="row.userId != null">
        user_id = #{row.userId,jdbcType=VARCHAR},
      </if>
      <if test="row.recipient != null">
        recipient = #{row.recipient,jdbcType=VARCHAR},
      </if>
      <if test="row.mobile != null">
        mobile = #{row.mobile,jdbcType=VARCHAR},
      </if>
      <if test="row.province != null">
        province = #{row.province,jdbcType=VARCHAR},
      </if>
      <if test="row.city != null">
        city = #{row.city,jdbcType=VARCHAR},
      </if>
      <if test="row.district != null">
        district = #{row.district,jdbcType=VARCHAR},
      </if>
      <if test="row.address != null">
        address = #{row.address,jdbcType=VARCHAR},
      </if>
      <if test="row.createOperator != null">
        create_operator = #{row.createOperator,jdbcType=VARCHAR},
      </if>
      <if test="row.createTime != null">
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.updateOperator != null">
        update_operator = #{row.updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="row.updateTime != null">
        update_time = #{row.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.provinceAreaCode != null">
        province_area_code = #{row.provinceAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="row.cityAreaCode != null">
        city_area_code = #{row.cityAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="row.districtAreaCode != null">
        district_area_code = #{row.districtAreaCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update address_manage
    set id = #{row.id,jdbcType=BIGINT},
      def_flag = #{row.defFlag,jdbcType=TINYINT},
      user_id = #{row.userId,jdbcType=VARCHAR},
      recipient = #{row.recipient,jdbcType=VARCHAR},
      mobile = #{row.mobile,jdbcType=VARCHAR},
      province = #{row.province,jdbcType=VARCHAR},
      city = #{row.city,jdbcType=VARCHAR},
      district = #{row.district,jdbcType=VARCHAR},
      address = #{row.address,jdbcType=VARCHAR},
      create_operator = #{row.createOperator,jdbcType=VARCHAR},
      create_time = #{row.createTime,jdbcType=TIMESTAMP},
      update_operator = #{row.updateOperator,jdbcType=VARCHAR},
      update_time = #{row.updateTime,jdbcType=TIMESTAMP},
      province_area_code = #{row.provinceAreaCode,jdbcType=VARCHAR},
      city_area_code = #{row.cityAreaCode,jdbcType=VARCHAR},
      district_area_code = #{row.districtAreaCode,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.peaq.ec3.shopp.model.AddressManage">
    update address_manage
    <set>
      <if test="defFlag != null">
        def_flag = #{defFlag,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null">
        recipient = #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceAreaCode != null">
        province_area_code = #{provinceAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="cityAreaCode != null">
        city_area_code = #{cityAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="districtAreaCode != null">
        district_area_code = #{districtAreaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peaq.ec3.shopp.model.AddressManage">
    update address_manage
    set def_flag = #{defFlag,jdbcType=TINYINT},
      user_id = #{userId,jdbcType=VARCHAR},
      recipient = #{recipient,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_operator = #{createOperator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      province_area_code = #{provinceAreaCode,jdbcType=VARCHAR},
      city_area_code = #{cityAreaCode,jdbcType=VARCHAR},
      district_area_code = #{districtAreaCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>