<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peaq.ec3.shopp.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.peaq.ec3.shopp.model.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="am_id" jdbcType="BIGINT" property="amId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="total_amount" jdbcType="BIGINT" property="totalAmount" />
    <result column="coupon_discount" jdbcType="BIGINT" property="couponDiscount" />
    <result column="pay_amount" jdbcType="BIGINT" property="payAmount" />
    <result column="actual_pay_amount" jdbcType="BIGINT" property="actualPayAmount" />
    <result column="pay_type" jdbcType="TINYINT" property="payType" />
    <result column="chain_id" jdbcType="VARCHAR" property="chainId" />
    <result column="chain_tx" jdbcType="VARCHAR" property="chainTx" />
    <result column="recipient" jdbcType="VARCHAR" property="recipient" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="invoice_type" jdbcType="TINYINT" property="invoiceType" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="taxpayer_num" jdbcType="VARCHAR" property="taxpayerNum" />
    <result column="company_email" jdbcType="VARCHAR" property="companyEmail" />
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="open_account_bank" jdbcType="VARCHAR" property="openAccountBank" />
    <result column="invoice_recipient" jdbcType="VARCHAR" property="invoiceRecipient" />
    <result column="invoice_recipient_contact" jdbcType="VARCHAR" property="invoiceRecipientContact" />
    <result column="invoice_recipient_email" jdbcType="VARCHAR" property="invoiceRecipientEmail" />
    <result column="invoice_additional_info" jdbcType="VARCHAR" property="invoiceAdditionalInfo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="delivery_status" jdbcType="TINYINT" property="deliveryStatus" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="create_operator" jdbcType="VARCHAR" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, user_id, am_id, user_name, total_amount, coupon_discount, pay_amount, 
    actual_pay_amount, pay_type, chain_id, chain_tx, recipient, mobile, invoice_type, 
    company, taxpayer_num, company_email, company_phone, bank_card, open_account_bank, 
    invoice_recipient, invoice_recipient_contact, invoice_recipient_email, invoice_additional_info, 
    `status`, pay_time, delivery_status, cancel_time, create_operator, create_time, update_operator, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.peaq.ec3.shopp.model.Order">
    insert into order (id, order_id, user_id, 
      am_id, user_name, total_amount, 
      coupon_discount, pay_amount, actual_pay_amount, 
      pay_type, chain_id, chain_tx, 
      recipient, mobile, invoice_type, 
      company, taxpayer_num, company_email, 
      company_phone, bank_card, open_account_bank, 
      invoice_recipient, invoice_recipient_contact, 
      invoice_recipient_email, invoice_additional_info, 
      `status`, pay_time, delivery_status, 
      cancel_time, create_operator, create_time, 
      update_operator, update_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{amId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{totalAmount,jdbcType=BIGINT},
      #{couponDiscount,jdbcType=BIGINT}, #{payAmount,jdbcType=BIGINT}, #{actualPayAmount,jdbcType=BIGINT}, 
      #{payType,jdbcType=TINYINT}, #{chainId,jdbcType=VARCHAR}, #{chainTx,jdbcType=VARCHAR}, 
      #{recipient,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{invoiceType,jdbcType=TINYINT}, 
      #{company,jdbcType=VARCHAR}, #{taxpayerNum,jdbcType=VARCHAR}, #{companyEmail,jdbcType=VARCHAR}, 
      #{companyPhone,jdbcType=VARCHAR}, #{bankCard,jdbcType=VARCHAR}, #{openAccountBank,jdbcType=VARCHAR}, 
      #{invoiceRecipient,jdbcType=VARCHAR}, #{invoiceRecipientContact,jdbcType=VARCHAR}, 
      #{invoiceRecipientEmail,jdbcType=VARCHAR}, #{invoiceAdditionalInfo,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{payTime,jdbcType=TIMESTAMP}, #{deliveryStatus,jdbcType=TINYINT}, 
      #{cancelTime,jdbcType=TIMESTAMP}, #{createOperator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateOperator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"  parameterType="com.peaq.ec3.shopp.model.Order">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="amId != null">
        am_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="couponDiscount != null">
        coupon_discount,
      </if>
      <if test="payAmount != null">
        pay_amount,
      </if>
      <if test="actualPayAmount != null">
        actual_pay_amount,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="chainId != null">
        chain_id,
      </if>
      <if test="chainTx != null">
        chain_tx,
      </if>
      <if test="recipient != null">
        recipient,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="invoiceType != null">
        invoice_type,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="taxpayerNum != null">
        taxpayer_num,
      </if>
      <if test="companyEmail != null">
        company_email,
      </if>
      <if test="companyPhone != null">
        company_phone,
      </if>
      <if test="bankCard != null">
        bank_card,
      </if>
      <if test="openAccountBank != null">
        open_account_bank,
      </if>
      <if test="invoiceRecipient != null">
        invoice_recipient,
      </if>
      <if test="invoiceRecipientContact != null">
        invoice_recipient_contact,
      </if>
      <if test="invoiceRecipientEmail != null">
        invoice_recipient_email,
      </if>
      <if test="invoiceAdditionalInfo != null">
        invoice_additional_info,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="deliveryStatus != null">
        delivery_status,
      </if>
      <if test="cancelTime != null">
        cancel_time,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="amId != null">
        #{amId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="couponDiscount != null">
        #{couponDiscount,jdbcType=BIGINT},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=BIGINT},
      </if>
      <if test="actualPayAmount != null">
        #{actualPayAmount,jdbcType=BIGINT},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="chainId != null">
        #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="chainTx != null">
        #{chainTx,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null">
        #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=TINYINT},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerNum != null">
        #{taxpayerNum,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null">
        #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null">
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null">
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="openAccountBank != null">
        #{openAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipient != null">
        #{invoiceRecipient,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipientContact != null">
        #{invoiceRecipientContact,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipientEmail != null">
        #{invoiceRecipientEmail,jdbcType=VARCHAR},
      </if>
      <if test="invoiceAdditionalInfo != null">
        #{invoiceAdditionalInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryStatus != null">
        #{deliveryStatus,jdbcType=TINYINT},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peaq.ec3.shopp.model.Order">
    update `order`
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="amId != null">
        am_id = #{amId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="couponDiscount != null">
        coupon_discount = #{couponDiscount,jdbcType=BIGINT},
      </if>
      <if test="payAmount != null">
        pay_amount = #{payAmount,jdbcType=BIGINT},
      </if>
      <if test="actualPayAmount != null">
        actual_pay_amount = #{actualPayAmount,jdbcType=BIGINT},
      </if>
      <if test="payType != null">
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="chainId != null">
        chain_id = #{chainId,jdbcType=VARCHAR},
      </if>
      <if test="chainTx != null">
        chain_tx = #{chainTx,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null">
        recipient = #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="invoiceType != null">
        invoice_type = #{invoiceType,jdbcType=TINYINT},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerNum != null">
        taxpayer_num = #{taxpayerNum,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null">
        company_email = #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null">
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null">
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="openAccountBank != null">
        open_account_bank = #{openAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipient != null">
        invoice_recipient = #{invoiceRecipient,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipientContact != null">
        invoice_recipient_contact = #{invoiceRecipientContact,jdbcType=VARCHAR},
      </if>
      <if test="invoiceRecipientEmail != null">
        invoice_recipient_email = #{invoiceRecipientEmail,jdbcType=VARCHAR},
      </if>
      <if test="invoiceAdditionalInfo != null">
        invoice_additional_info = #{invoiceAdditionalInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryStatus != null">
        delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      </if>
      <if test="cancelTime != null">
        cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peaq.ec3.shopp.model.Order">
    update `order`
    set order_id = #{orderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      am_id = #{amId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=BIGINT},
      coupon_discount = #{couponDiscount,jdbcType=BIGINT},
      pay_amount = #{payAmount,jdbcType=BIGINT},
      actual_pay_amount = #{actualPayAmount,jdbcType=BIGINT},
      pay_type = #{payType,jdbcType=TINYINT},
      chain_id = #{chainId,jdbcType=VARCHAR},
      chain_tx = #{chainTx,jdbcType=VARCHAR},
      recipient = #{recipient,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      invoice_type = #{invoiceType,jdbcType=TINYINT},
      company = #{company,jdbcType=VARCHAR},
      taxpayer_num = #{taxpayerNum,jdbcType=VARCHAR},
      company_email = #{companyEmail,jdbcType=VARCHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      open_account_bank = #{openAccountBank,jdbcType=VARCHAR},
      invoice_recipient = #{invoiceRecipient,jdbcType=VARCHAR},
      invoice_recipient_contact = #{invoiceRecipientContact,jdbcType=VARCHAR},
      invoice_recipient_email = #{invoiceRecipientEmail,jdbcType=VARCHAR},
      invoice_additional_info = #{invoiceAdditionalInfo,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      delivery_status = #{deliveryStatus,jdbcType=TINYINT},
      cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
      create_operator = #{createOperator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getOrderList" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where user_id = #{userId} order by create_time desc
  </select>
</mapper>