<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="../css/account.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<script type="text/javascript" src="../js/jquery-3.7.1.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../js/utils.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../js/account.js" charset="UTF-8"></script>
	</head>
	<body>
		<div class="header-all"></div>
		<div class="store-order">
			<div class="container">

				<div class="main clearfix">
					<div class="left fl">
						<div class="left-main">

							<div class="title clearfix">
								<div class="pic fl">
									<img src="../img/account/icon2.png" >
								</div>
								<div class="word fl">个人中心</div>
							</div>
							<div class="menu">
								<a href="javascript:void(0)" id="myorder">我的订单</a>
							</div>
							<div class="menu">
								<a href="">地址管理</a>
							</div>
						</div>
					</div>
					<div class="right fr">
						<div class="right-main">
							<div class="order-btn">
								<a href="javascript:void(0)" class="all">全部订单</a><span>|</span>
								<a href="javascript:void(0)" class="pay">待付款 </a><span>|</span>
								<a href="javascript:void(0)" class="pay">转账中 </a><span>|</span>
								<a href="javascript:void(0)" class="pay">已付款 </a><span>|</span>
								<a href="javascript:void(0)">待发货</a><span>|</span>
								<a href="javascript:void(0)">已发货</a>
							</div>
							<ul class="order-menu clearfix">
								<li>订单号</li>
								<li>总金额</li>
								<li>支付状态</li>
								<li>发货状态</li>
								<li>下单时间</li>
							</ul>
							<!-- 无下单 -->
							<div class="order-detail">
								<div class="title">您暂无此类订单，赶快去下单吧</div>
							</div>
							<!-- 下单 -->
							<table class="order-message" cellpadding="0" cellspacing="0">
								<!--<tr class="tr2">
									<td>
										订单号
									</td>
									<td>
										商品名称
									</td>
									<td>收货人</td>
									<td>金额</td>
									<td>支付状态</td>
									<td>发货状态</td>
									<td>下单时间</td>
									<td class="tr2-4">
										<span><a href="">立即付款</a></span>
										<a class="cancel" style="cursor: pointer;">取消订单</a><br>
										<a href="">查看详情</a>
									</td>
								</tr>
								<tr class="tr2">
									<td>
										订单号
									</td>
									<td>
										商品名称
									</td>
									<td>收货人</td>
									<td>金额</td>
									<td>支付状态</td>
									<td>发货状态</td>
									<td>下单时间</td>
									<td class="tr2-4">
										<span><a href="">立即付款</a></span>
										<a class="cancel" style="cursor: pointer;">取消订单</a><br>
										<a href="">查看详情</a>
									</td>
								</tr>-->
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-all"></div>
	</body>
</html>

