<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="../css/account.css" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<script type="text/javascript" src="../js/jquery-3.7.1.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../js/ethers-5.2.umd.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../js/utils.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../js/account.js" charset="UTF-8"></script>
	</head>
	<body>
		<div class="header-all"></div>
		<div class="store-order">
			<div class="container">

				<div class="main clearfix">
					<div class="left fl">
						<div class="left-main">

							<div class="title clearfix">
								<div class="pic fl">
									<img src="../img/account/icon2.png" >
								</div>
								<div class="word fl">Center</div>
							</div>
							<div class="menu">
								<a href="javascript:void(0)" id="myorder">My Order</a>
							</div>
							<div class="menu">
								<a href="">My Address</a>
							</div>
						</div>
					</div>
					<div class="right fr">
						<div class="right-main">
							<div class="order-btn">
								<a href="javascript:void(0)" class="all">All orders</a><span>|</span>
								<a href="javascript:void(0)" class="pay">wait pay</a><span>|</span>
								<a href="javascript:void(0)" class="pay">pay</a><span>|</span>
								<a href="javascript:void(0)" class="pay">success</a><span>|</span>
							<!--	<a href="javascript:void(0)">待发货</a><span>|</span>
								<a href="javascript:void(0)">已发货</a>-->
							</div>
							<ul class="order-menu clearfix">
								<li style="margin-left: 35px">orderId</li>
								<li style="margin-left: 90px">totalAmount</li>
								<li style="margin-left: 60px">PayStatus</li>
								<li style="margin-left: 100px">orderTime</li>
							</ul>
							<!-- 无下单 -->
							<div class="order-detail">
								<div class="title">您暂无此类订单，赶快去下单吧</div>
							</div>
							<!-- 下单 -->
							<table class="order-message" cellpadding="0" cellspacing="0">
							<!--	<tr class="tr2">
									<td>${order.orderId}</td>
									<td>${order.totalAmount}</td>
									<td id="${order.orderId}">${statusName}</td>
									<td>${javaDate(order.createTime)}</td>
									<td class="tr2-4">
										<span><a  class="pay-now" orderId="${order.id}">pay now</a></span>
										<a class="cancel" style="cursor: pointer;">cancel order</a><br>
									</td>
								</tr>-->
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-all"></div>
	</body>
</html>

