<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shopping Cart</title>
        <link rel="icon" href="../img/header/favicon.ico" type="images/x-ico"/>
        <link rel="stylesheet" href="../css/cart.css"/>
        <script type="text/javascript" src="../js/jquery-3.7.1.min.js"></script>
        <script src="../lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="../js/utils.js"></script>
        <script type="text/javascript" src="../js/cart.js"></script>
    </head>
    <body>

        <div class="header-all"></div>
            <div id="body" style="position: static" class="body-cart">
                <div id="chekoutBody">
                    <div class="checkoutProduct t">
                        <div class="checkoutProductInfo c">
                            <div class="checkoutTable">
                                <em class="checkBox checkIcon" logo="all"></em>
                                <ul class="checkoutTableHeader">
                                    <li>select all</li>
                                    <li>Product info</li>
                                    <li>price</li>
                                    <li>amount</li>
                                    <li>total</li>
                                    <li>operate</li>
                                </ul>
                                <div class="checkoutProductBody">
                                    <div class="productBodyItem">
                                        <!--<div class="productBodyItemContent" pId="${product.id}">
                                            <em class="checkBox checkIcon"></em>
                                            <a class="itemImg" href=""><img src="${picMap.get(product.id)}"/></a>
                                            <div class="itemInfo">
                                                <h5>brand</h5>
                                                <a href="">productName</a>
                                                <div><span>specification<i></i></span></div>
                                            </div>
                                            <div class="itemInfoUnion1">
                                                <span class="itemPice">price</span>
                                            </div>
                                            <div class="itemInfoUnion2">
                                                <div class="itemInfoUnion2Module lelt">
                                                    <i class="itemMinus item_ma_css l" data-id="${product.id}">-</i>
                                                    <input type="text" class="itemNum l" value="0"/>
                                                    <i class="itemAdd item_ma_css l" data-id="${product.id}">+</i>
                                                </div>
                                            </div>
                                            <div class="itemInfoUnion3">
                                                <span class="sumNum">total</span>
                                            </div>
                                            <div class="itemInfoUnion4">
                                                <i class="delete" data-id="${product.id}"></i>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="checkSubmit" class="t">
                    <div id="checkSubmitInfo"  class="c checkSubmitInfo" style="margin-top: 100px;">
                        <div class="checkSubmitInfoBooking">
                            <div class="checkSubmitInfoLeft l">
                                <em class="checkBox checkIcon l" logo="all"></em>
                                <a class="allClick">select all</a>
                                <a class="allDelete">batch delet</a>
                                <div class="split"></div>
                                <a class="callService">customer service</a>
                            </div>
                            <div class="checkSubmitInfoRight r">
                                <ul>
                                    <li>
                                        <span><span id="itemTotal">0</span><span>&nbsp; items&nbsp; selected</span></span>
                                    </li>
                                    <li>
                                        <span>Total：<span style="color: red;">$<span class="lumpSum" >0.00</span></span></span>
                                    </li>
                                </ul>
                                <div class="rightSubmit r">Pay now</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="footer-all"></div>
    </body>
</html>
