<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>商品详情</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/details.css" />
		<script src="../js/jquery-3.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/details.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="header-all"></div>
		
		<div class="commodity-detail">
			<div class="container">
				<!-- 图片 -->
				<div class="commodity-pic">
					<div class="pic-max white">
						<a href="javascript:void(0)" class="max01"><img src="../img/details/commodity-max01.jpg" width="560px"></a>
						<a href="javascript:void(0)" class="max02"><img src="../img/details/commodity-max02.jpg" width="560px"></a>
						<a href="javascript:void(0)" class="max03"><img src="../img/details/commodity-max03.jpg" width="560px"></a>
					</div>
					
					<div class="pic-max blue">
						<a href="javascript:void(0)" class="max01"><img src="../img/details/commodity-max-blue01.jpg" width="560px"></a>
						<a href="javascript:void(0)" class="max02"><img src="../img/details/commodity-max-blue02.jpg" width="560px"></a>
						<a href="javascript:void(0)" class="max03"><img src="../img/details/commodity-max-blue03.jpg" width="560px"></a>
					</div>
					
					<div class="pic-max gray">
						<a href="javascript:void(0)" class="max01"><img src="../img/details/commodity-max-gray01.jpg" width="560px"></a>
						<a href="javascript:void(0)" class="max02"><img src="../img/details/commodity-max-gray02.jpg" width="560px"></a>
						<a href="javascript:void(0)" class="max03"><img src="../img/details/commodity-max-gray03.jpg" width="560px"></a>
					</div>
					
					<div class="pic-min white">
						<ul>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min01.jpg" width="80px"></a></li>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min02.jpg" width="80px"></a></li>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min03.jpg" width="80px"></a></li>
						</ul>
					</div>
					
					<div class="pic-min blue">
						<ul>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min-blue01.jpg" width="80px"></a></li>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min-blue02.jpg" width="80px"></a></li>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min-blue03.jpg" width="80px"></a></li>
						</ul>
					</div>
					
					<div class="pic-min gray">
						<ul>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min-gary01.jpg" width="80px"></a></li>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min-gary02.jpg" width="80px"></a></li>
							<li><a href="javascript:void(0)"><img src="../img/details/commodity-min-gary03.jpg" width="80px"></a></li>
						</ul>
					</div>

				</div>
				<!-- 信息 -->
				<div class="commodity-message">
					<div class="commodity-head">
						<span id="productName"></span>
						<span id="describe"></span>
					</div>
					<div class="commodity-price">
						<span>$</span>
						<span id="price"></span>
					</div>
					<div class="commodity-type">
						<span class="text-hd">Model</span>
						<div class="type-select">
							<!--<a href="javascript:void(0)">EP52 Lite</a>
							<a href="javascript:void(0)">EP63NC</a>
							<a href="javascript:void(0)">POP2</a>
							<a href="javascript:void(0)">HD60</a>
							<a href="javascript:void(0)">EP52 Lite</a>-->
						</div>
					</div>
					<div class="commodity-number">
						<span class="text-hd">quantity</span>
						<div class="number-select">
							<a title="减少" href="javascript:void(0)" class="num-minus disabled">-</a>
							<!-- 将输入值为非数字的字符替换为空； -->
							<input id="quantity" type="text" value="1" readonly ="readonly" onkeyup="this.value=this.value.replace(/\D/g,'')">
							<a title="增加" href="javascript:void(0)" class="num-plus">+</a>
						</div>
					</div>
					
					<div class="commodity-buy">
						<button type="button" id="buy_now">Pay now</button>
						<button type="button" id="add_cart">add to cart</button>
					</div>
				</div>
			</div>

		</div>

		<div class="footer-all"></div>
		<div id="scrolltop"></div>
		
	</body>
</html>
