<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
<footer class="bottom-footer pc">
	<div class="inner">
		<div class="contact-us">
			<div class="title animate__animated animate__slower animate__fadeInUp"
				 data-animate="animate__fadeInUp">Get in touch with us<span>support@Ec-3.io</span></div>
			<a href="mailto:support@Ec-3.io" class="ant-btn css-xwdoie ant-btn-primary" tabindex="0"><span>Send Email</span></a>
		</div>
		<div class="grid-row">
			<div class="grid-col">
				<div class="grid-col__title">Explore</div>
				<div class="grid-col-content"><a class="grid-col-link">Download Ec³ App</a><a
						class="grid-col-link">Shopping Car</a></div>
			</div>
			<div class="grid-col">
				<div class="grid-col__title">Documents</div>
				<div class="grid-col-content"><a target="_blank" class="grid-col-link"
												 href="https://docs.ec-cube.io/developer">Developers</a><a
						target="_blank" class="grid-col-link" href="https://docs.ec-cube.io/mine">Mine</a><a
						target="_blank" class="grid-col-link"
						href="https://docs.ec-cube.io/tokenomic">Tokenomic</a></div>
			</div>
			<div class="grid-col">
				<div class="grid-col__title">Useful links</div>
				<div class="grid-col-content"><a target="_blank" class="grid-col-link"
												 href="https://docs.ec-cube.io/faqs">FAQs</a><a target="_blank"
																								class="grid-col-link"
																								href="https://docs.ec-cube.io/product-user-guide">Product
					User Guide</a></div>
			</div>
			<div class="grid-col">
				<div class="grid-col__title">Keep following</div>
				<div class="grid-col-content"><a target="_blank" class="grid-col-link"
												 href="https://twitter.com/Ec3_DeEnergy">X</a><a target="_blank"
																								 class="grid-col-link"
																								 href="https://discord.gg/kaA5A88Z8X">Discord</a><a
						target="_blank" class="grid-col-link" href="https://medium.com/@ec3.deenergy">Medium</a><a
						target="_blank" class="grid-col-link" href="https://t.me/Ec3_DeEnergy">Telegram</a>
				</div>
			</div>
		</div>
		<p class="copyright">Copyright © Ec³- Images used for demonstration purpose only (<a class="link">Licenses</a>)
		</p></div>
</footer>

