<link rel="stylesheet" type="text/css" href="../css/header.css" />
<script src="../js/utils.js" type="text/javascript" charset="utf-8"></script>
<div class="nav index" style="height: 80px;">
	<div class="layui-container">
		<!-- 公司logo -->
		<div class="nav-logo"> <a href="index.html"> <img src="../img/header/oppo.png" alt="网络公司"> </a> </div>
		<div class="nav-list">
			<button> <span class=""></span><span style="display: block;"></span><span class=""></span> </button>
			<ul class="layui-nav" lay-filter="">
				<li class="layui-nav-item" id="phone"><a href="#">手机</a></li>
				<li class="layui-nav-item"><a href="#">智能硬件</a></li>
				<li class="layui-nav-item"><a href="#">官方商城</a></li>
				<li class="layui-nav-item"><a href="#">关于OPPO</a></li>
				<li class="layui-nav-item"><a href="#">ColorOS</a></li>

<!--				<li class="layui-nav-item" id="phone"><a href="#"></a></li>
				<li class="layui-nav-item"><a href="#"></a></li>
				<li class="layui-nav-item"><a href="#"></a></li>
				<li class="layui-nav-item"><a href="#"></a></li>
				<li class="layui-nav-item"><a href="#"></a></li>-->

			<!--	<li class="layui-nav-item"><a id="cs"><img src="../img/header/s.png"></a></li>-->
				<li class="layui-nav-item"><a href="javascript:page_jump('/cart');"><img src="../img/header/shop.png"></a></li>
				<li class="layui-nav-item"><a href="/login"><img src="../img/header/login.png"></a></li>

				<span class="layui-nav-bar" style="left: 342px; top: 78px; width: 0px; opacity: 0;"></span>
			</ul>
		</div>
	</div>
</div>

