<link rel="stylesheet" type="text/css" href="../css/header.css" />
<script src="../js/utils.js" type="text/javascript" charset="utf-8"></script>
<div class="nav index" style="height: 80px;">
	<div class="layui-container">
		<!-- 公司logo -->
		<div class="nav-logo"> <a href=""> <img src="../img/header/log.png" alt=""> </a> </div>
		<div class="nav-list">
			<button> <span class=""></span><span style="display: block;"></span><span class=""></span> </button>
			<ul class="layui-nav" lay-filter="">
				<li class="layui-nav-item"><a href="/">Product</a></li>
				<li class="layui-nav-item"><a href="#">Support</a></li>
				<li class="layui-nav-item"><a href="#">About Us</a></li>
				<li class="layui-nav-item"><a href="javascript:page('cart');"><img src="../img/header/cart.png"></a></li>
				<span class="layui-nav-bar" style="left: 342px; top: 78px; width: 0px; opacity: 0;"></span>
			</ul>
		</div>
	</div>
</div>

