<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>EC3 Login</title>
        <link rel="icon" href="../img/header/favicon.ico" type="images/x-ico"/>
        <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../css/login.css"/>
        <script src="../js/jquery-3.7.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="../lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/utils.js" type="text/javascript" charset="utf-8"></script>
        <script src="../js/login.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="header-all"></div>
        <div class="box">
            <div class="floor2">
                <!-- 有效宽度 -->
                <div class="container"  style="background-color: rgba(10,12,9,.94);">
                    <div class="right">
                        <!-- 头部 -->
                        <div class="header">EC3 member login</div>
                        <div class="picture"><a href="javascript:void(0)"><img src="../img/picture/4.png"></a></div>
                        <!-- 内容 -->
                        <div class="content">
                            <div class="content_one">
                                <div class="one"><input id="login" type="text" placeholder="Phone or email address"></div>
                                <div class="one"><input id="password" type="password" placeholder="Password"></div>
                            </div>
                            <div class="content_two">
                                <div class="one"><input type="text" placeholder="手机号码"></div>
                                <div class="one"><input class="duanxin" type="text" placeholder="短信验证码">
                                    <button class="btn2">短信验证码</button>
                                </div>
                            </div>
                            <div class="two clearfix"><input type="checkbox" checked="checked"/>auto login</div>
                            <button class="bnt1 btn_login">LOG IN</button>
                            <div class="three clearfix"><a class="show" href="javascript:void(0)">phone code login</a><a
                                    class="none" href="javascript:void(0)">用户名密码登录</a><span><a
                                    class="red" href="">forget password?</a></span><span>&nbsp;|&nbsp;</span><span><a class="red"
                                                                                               href="javascript:page('register');">register</a></span>
                            </div>
                        </div>
                        <!-- 尾部 -->
                      <div class="footer clearfix"><span></span>&nbsp;&nbsp;Other login methods<span></span></div>

                        <!-- 小图标 -->
                        <div class="icon">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right hide">
                        <!-- 头部 -->
                        <div class="header">EC3 member QR code login</div>
                        <div class="picture"><a href="javascript:void(0)"><img src="../img/picture/5.png"></a></div>
                        <div class="tupian"><img src="../img/picture/3.gif"><span>Mobile app Scan code</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-all"></div>
    </body>
</html>
